body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #88f498;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
.hidden {
  display: none;
}
.input_value {
  margin-bottom: 5px;
}
